@use "../mixins/responsive.scss" as *;
@use "../mixins/hover.scss" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open-Sans", sans-serif;
  &__nav {
    width: 80px;
    height: 24px;
    font-size: 9.5px;
    color: #ff52c1;
    border: 0.5px solid #ff52c1;
    border-radius: 34px;
    @include responsive(desktop) {
      width: 136px;
      height: 40px;
      font-size: 16px;

      @include hover {
        color: #ff8ed7;
        border: 0.5px solid #ff8ed7;
      }
    }
  }

  &__header {
    width: 200px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    background-color: #ff52c1;
    border-radius: 20px;
    box-shadow: 0 7px 3px rgba(0, 37, 46, 0.2);
    @include responsive(desktop) {
      width: 400px;
      height: 80px;
      line-height: 30;
      border-radius: 40px;
      font-size: 20px;
      @include hover {
        opacity: 50%;
      }
    }
  }

  &__footer {
    width: 160px;
    height: 48px;
    background-color: #ff52c1;
    border-radius: 5px;
    color: white;
    font-weight: 700;
  }
}
