@use "../mixins/responsive.scss" as *;

.cards {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  height: 365px;
  justify-content: space-between;

  @include responsive(desktop) {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.card {
  &__span {
    color: #808e9a;
    text-align: center;
    font-size: 15px;
    line-height: 22.9px;
    display: flex;
    justify-content: center;
    @include responsive(desktop) {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
