.draws {
}
.draw {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 28px;
  padding-right: 29px;
  &--blue {
    background-color: #f6fbff;
  }

  &--white {
    background-color: #fff;
  }
}
