@use "../mixins/responsive.scss" as *;

.draws {
}
.draw {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 28px;
  padding-right: 29px;

  @include responsive(desktop) {
    padding-top: 200px;
    padding-left: 0;
    padding-right: 0;
  }

  @include responsive(desktop) {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 520px;
    }
  }

  &--blue {
    background-color: #f6fbff;

    @include responsive(desktop) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      width: 1400px;
      height: 560px;
    }
  }

  &--white {
    background-color: #fff;
    @include responsive(desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 1400px;
      height: 560px;
    }
  }
}
