@use "../mixins/responsive.scss" as *;

.footer {
  background-color: #00252e;
  color: white;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  flex-direction: column;

  @include responsive(desktop) {
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
    justify-content: space-between;
  }

  &__contact {
    @include responsive(desktop) {
      width: 340px;
    }
  }

  &__newsletter {
    margin-bottom: 104px;

    @include responsive(desktop) {
      width: 520px;
    }
  }

  &__search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 112px;

    @include responsive(desktop) {
      @include responsive(desktop) {
        width: 520px;
        display: flex;
        flex-direction: row;
      }
    }
  }
  &__search--bar {
    width: 320px;
    height: 48px;
    background-color: white;
    border-radius: 6px;
  }
  &__logo {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
      hue-rotate(178deg) brightness(104%) contrast(102%);
  }

  &__container {
    width: 201px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
