@use "../mixins/responsive.scss" as *;

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  &__header {
    font-size: 24px;
    font-weight: 700;
    color: #00252e;
    line-height: 36px;

    @include responsive(desktop) {
      width: 1014px;
      height: 72px;
      font-size: 48px;
      line-height: 72px;
    }
  }
  &__card {
    text-align: initial;
    font-size: 60.95px;
    line-height: 91.4px;
    font-weight: 700;
    color: #00252e;
    margin-bottom: 0;
    margin-top: 0;
    @include responsive(desktop) {
      font-size: 96px;
      line-height: 144px;
      text-align: initial;
    }
  }
  &__draw {
    font-size: 20px;
    line-height: 30px;
    @include responsive (desktop) {
      font-size: 40px;
      line-height: 60px;
    }
  }

  &__footer {
    text-align: initial;
  }
}
